video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

.hero-container {
    background: url('../images/img-cup.jpg'); 
    background-size: 100%;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
}

.hero-container>h1 {
    color: #fff;
    font-size: 50px;
    margin-top: -100px;
}

.hero-container>p {
    margin-top: 8px;
    color: #fff;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
}

.hero-btns {
    margin-top: 32px;
}

.hero-btns .btn {
    margin: 6px;
}

.fa-play-circle {
    margin-left: 4px;
}

@media screen and (max-width: 960px) {
    .hero-container>h1 {
        font-size: 70px;
        margin-top: -150px;
    }
}

@media screen and (max-width: 768px) {
    .hero-container>h1 {
        font-size: 50px;
        margin-top: -100px;
    }

    .hero-container>p {
        font-size: 30px;
    }

    .btn-mobile {
        display: block;
        text-decoration: none;
    }

    .btn {
        width: 100%;
    }
}






* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.owl-carousel {
    width: 100%;
    height: 100vh;
}

.slide {
    width: 100%;
    height: 100vh;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.slide::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.slide-1 {
    background-image: url('../images/bg-1.jpg');
}

.slide-2 {
    background-image: url('../images/bg-2.jpg');
}

.slide-3 {
    background-image: url('../images/bg-3.jpg');
}

.slide-content {
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    padding: 0 20%;
}

.slide-content h1 {
    font-family: "Anton", serif;
    font-size: 45px;
    text-transform: uppercase;
}

.slide-content p {
    font-family: "Lato", serif;
    font-size: 18px;
    margin-bottom: 20px;
}

.slide-content button {
    font-family: "Roboto", serif;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bolder;
    padding: 10px 25px;
    border: none;
}

.owl-dots {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 1%;
}

.owl-dots span {
    width: 20px !important;
    height: 20px !important;
}

.owl-dots button {
    border: none !important;
    outline: none !important;
}

.owl-nav button {
    border: none !important;
    outline: none !important;
}

.owl-prev,
.owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff !important;
    font-size: 65px !important;
    font-weight: bolder !important;
    background: none !important;
}

.owl-prev {
    left: 1%;
}

.owl-next {
    right: 1%;
}